USE [master]
GO
/****** Object:  Database [dbScience2]    Script Date: 2015-01-19 21:23:39 ******/
CREATE DATABASE [dbScience2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbScience2', FILENAME = N'D:\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\dbScience2.mdf' , SIZE = 4013056KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbScience2_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\dbScience2_log.ldf' , SIZE = 110219200KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbScience2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbScience2]
GO
/****** Object:  User [starter]    Script Date: 2015-01-19 21:23:39 ******/
CREATE USER [starter] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [starter]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [starter]
GO
ALTER ROLE [db_datareader] ADD MEMBER [starter]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [starter]
GO
/****** Object:  Table [dbo].[tblAffiliation]    Script Date: 2015-01-19 21:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblAffiliation](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Person_ID] [int] NULL,
	[Affiliation] [varchar](2000) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblConference]    Script Date: 2015-01-19 21:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblConference](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblEvent]    Script Date: 2015-01-19 21:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblEvent](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EventGroup_ID] [int] NULL,
	[Name] [varchar](2000) NULL,
	[Type] [int] NULL,
	[Key] [varchar](200) NULL,
	[Url] [varchar](2000) NULL,
	[Conference_ID] [int] NULL,
	[Score] [float] NULL,
	[ScoreNow] [float] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblEventGroup]    Script Date: 2015-01-19 21:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblEventGroup](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NULL,
	[Type] [int] NULL,
	[Date] [date] NULL,
	[Url] [varchar](2000) NULL,
	[Conference_ID] [int] NULL,
	[Group] [varchar](200) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblLink]    Script Date: 2015-01-19 21:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLink](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Person_ID] [int] NULL,
	[Event_ID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblLinkReason]    Script Date: 2015-01-19 21:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLinkReason](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Link_ID] [int] NULL,
	[Reason] [int] NULL,
	[ReasonLink_ID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblPerson]    Script Date: 2015-01-19 21:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblPerson](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NULL,
	[Affiliation] [varchar](2000) NULL,
	[OPI] [int] NULL,
	[StartYear] [int] NULL,
	[HIndex] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblPersonOPI]    Script Date: 2015-01-19 21:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblPersonOPI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NULL,
	[OPI] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblPersonScore]    Script Date: 2015-01-19 21:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPersonScore](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Person_ID] [int] NULL,
	[Year] [int] NULL,
	[Score] [float] NULL,
	[ConnectionCount] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblReference]    Script Date: 2015-01-19 21:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblReference](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Event_ID] [int] NULL,
	[ReferenceEvent_ID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Index [ClusteredIndex-20130305-165723]    Script Date: 2015-01-19 21:23:40 ******/
CREATE CLUSTERED INDEX [ClusteredIndex-20130305-165723] ON [dbo].[tblEvent]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ClusteredIndex-20130305-165658]    Script Date: 2015-01-19 21:23:40 ******/
CREATE CLUSTERED INDEX [ClusteredIndex-20130305-165658] ON [dbo].[tblLink]
(
	[Person_ID] ASC,
	[Event_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ClusteredIndex-20130305-165421]    Script Date: 2015-01-19 21:23:40 ******/
CREATE CLUSTERED INDEX [ClusteredIndex-20130305-165421] ON [dbo].[tblPerson]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ClusteredIndex-20130305-165506]    Script Date: 2015-01-19 21:23:40 ******/
CREATE CLUSTERED INDEX [ClusteredIndex-20130305-165506] ON [dbo].[tblPersonScore]
(
	[ID] ASC,
	[Person_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [NonClusteredIndex-20130307-214917]    Script Date: 2015-01-19 21:23:40 ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20130307-214917] ON [dbo].[tblEvent]
(
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
